{% extends 'greentech/base.html' %}

{% block title %}Add New Post{% endblock %}

{{ form.title }}
{% block content %}
<div class="container mt-5">
    <div class="card1 shadow p-4 mx-auto bg-success-subtle" style="max-width: 600px;">
        <h2 class="text-center text-success mb-4">Add a New Post</h2>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="text-center">
                <button type="submit" class="btn btn-success px-4">Save</button>
            </div>
        </form>

    </div>
</div>
{% endblock %}
